/* CSS Document */

body{overflow: hidden;}
.gps{width: 20px;position: absolute;right:50px;top: 50%;height: 124px;margin-top: -62px;z-index: 2;}
.gps li{margin:0 auto;width: 16px;height: 16px;background:#fff;border-radius:50%;margin-bottom: 10px;cursor: pointer;}
.gps li:last-child{margin-bottom: 0;}
.gps li.current{width: 20px;height: 20px;background:gold;}

/*nav*/
nav{background:#1E1504;width: 100%;height: 70px;position: absolute;left: 0;top: 0;z-index: 4;}
.nav_in{width:60%;margin: 0 auto;}
.nav_in ul{float: right;}
.nav_in .logo{float: left;margin-top: 5px;}
.nav_in ul li{float: left;color:#EDE0C0;font-size: 24px;line-height: 70px;font-family:"寰蒋闆呴粦";margin:0 40px;cursor: pointer;}

html,body{width: 100%;height: 100%;}
.doc{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 1;}
.doc>div{overflow: hidden;width: 100%;height: 100%;position: relative;}

.screen01{background:#6A6A6A;background:url(../images/bg.jpg) no-repeat center top;
background-size:100% auto;}
.screen02{background:url(../images/292502.jpg) no-repeat center top;perspective:800px;background-size:100% auto;}
.screen03{background:url(../images/292495.jpg) no-repeat center top;perspective:800px;background-size:100% auto;}
.screen04{background:url(../images/281592.png) no-repeat center top;perspective:800px;background-size:100% auto;}
.screen05{background:url(../images/295476.jpg) no-repeat center top;perspective:800px;background-size:100% auto;}

/* screen01 */

.screen01>*{transition:all 2s;position: absolute;left: 50%;top: 50%;}
.screen01 header{left: 3%;top: 2%;}
.screen01 header h1{float: left;}
.screen01 header span{float: left;font-size: 14px;color: #fff;margin-top:24px;margin-left: 30px;}
.screen01 .box{width: 100%;height: 100%;background:rgba(0,0,0,0.7);left: 0;top: 0;}
.screen01 p{width: 100%;height: auto;color: #fff;font-size: 60px;text-align: center;left: 0;top:20%;font-weight: bold;}
.screen01 p span{transition:all 2s;margin: 0;}
.screen01 article{color: #fff;font-size: 12px;margin-left: 100px;margin-top: 100px;width:23%;height:auto;text-align: center;left:32%;top: 20%;font-family: "瀹嬩綋";}
.screen01.start p{transform:scale(0.1);opacity: 0;}
.screen01.start p span{margin:0 50px;}
.screen01.start article{top:-20%;transform:rotate(360deg);}
 #wrap{width:120px;height:180px;margin:200px auto 0;position:relative;top:200px;left:0px;
transform-style:preserve-3d;transform:perspective(800px) rotateX(-10deg) rotateY(0deg);}
 #wrap img{position:absolute;left:0;top:0;width:100%;height:100%;border-radius:4px;box-shadow:0px 0px 10px #fff;
 -webkit-box-reflect:below 10px -webkit-linear-gradient(top,rgba(0,0,0,0) 50%,rgba(0,0,0,0.7) 100%);}









/* screen02 */

.screen02>*{position: absolute;left: 50%;top: 50%;transition:all 2s;-moz-transition:all 2s;-ms-transition:all 2s;-o-transition:all 2s;-webkit-transition:all 2s;}
.screen02 header{top: 20px;color: #fff;font-size: 48px;margin-left:-60px;border-top:3px solid #fff;border-bottom:3px solid #fff;}
.screen02 .show1{width: 13%;margin-left: -30%;margin-top: -11%;}
.screen02 .show1 span{width: 160px;height: 160px;display: block;border-radius:50%;border: 5px solid #fff;background:#0175d7;margin:0 auto;line-height: 160px;text-align: center;font-size:72px;font-weight: bold;color: #fff;transition:all 0.1s;}
.screen02 .show2{width: 13%;margin-left: -6%;margin-top: -11%;}
.screen02 .show2 span{width: 160px;height: 160px;display: block;border-radius:50%;border: 5px solid #fff;background:#92cf40;margin:0 auto;line-height: 160px;text-align: center;font-size:72px;font-weight: bold;color: #fff;}
.screen02 .show3 span{width: 160px;height: 160px;display: block;border-radius:50%;border: 5px solid #fff;background:#fd970a;margin:0 auto;line-height: 160px;text-align: center;font-size:72px;font-weight: bold;color: #fff;}
.screen02 .show3{width: 13%;margin-left: 18%;margin-top: -11%;}
.screen02 div dl{width: 100%;color: #fff;margin-top: 50px;}
.screen02 div dt{line-height: 20px;font-size: 20px;margin-bottom: 20px;}
.screen02 div dd{font-size: 12px;line-height:20px;}
.screen02 div>span:hover{transform:scale(1.2)}

.screen02.start .show1{margin-left:-50%;}
.screen02.start .show2{margin-top:50%;}
.screen02.start .show3{margin-left:50%;}
.screen02.start header{transform:translateY(100px) rotate(360deg) scale(10);}

/* screen03 */

.screen03>*{position: absolute;left: 50%;top: 50%;transition:all 2s;}
.screen03 header{top: 20px;color: #fff;font-size: 48px;margin-left:-80px;border-top:3px solid #fff;border-bottom:3px solid #fff;}
.look{width: 100px;margin-left: -550px;margin-top: -80px;
	transition:all 2s;
	transition-delay:0.1s;
	-moz-transition:all 2s;
	-moz-transition-delay:0.1s;
	-ms-transition:all 2s;
	-ms-transition-delay:0.1s;
	-o-transition:all 2s;
	-o-transition-delay:0.1s;
	-webkit-transition:all 2s;
	-webkit-transition-delay:0.1s;}
	
.screen03 .look	.current{background:#fff;color: #000;}

.look li{width: 100px;height: 30px;border-radius: 5px;background:#000;margin-bottom:10px;text-align: center;color: #fff;line-height: 30px;cursor: pointer;}
.screen03.start .look{margin-left: -2000px;transform:scale(3,3);
					-moz-transform:scale(3,3);
					-ms-transform:scale(3,3);
					-o-transform:scale(3,3);
					-webkit-transform:scale(3,3)}
.screen03.start header{transform:translateY(100px) rotate(360deg) scale(10);}
/* app */
.screen03 .app{width:50%;height:80%;margin-left: -350px;margin-top: -220px;z-index:4;overflow: hidden;}
.screen03 .app ul{width:20%;margin:100px auto 0;z-index: 5;height:auto;position: relative;
		transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;
		animation:show 30s linear infinite;
		-moz-animation:show 30s linear infinite;
		-ms-animation:show 30s linear infinite;
		-o-animation:show 30s linear infinite;
		-webkit-animation:show 30s linear infinite;
		transition:all 4s;
		-moz-transition:all 4s;
		-ms-transition:all 4s;
		-o-transition:all 4s;
		-webkit-transition:all 4s;}
.screen03 .app ul li{width:165px; transition:all 1s;height:318px;font-size:80px; text-align: center; line-height:290px; position:absolute; left:0; top:0;}
@keyframes show{
	0%{ transform:rotateX(-10deg) rotateY(0deg);}
	100%{ transform:rotateX(-10deg) rotateY(360deg);}
}
@-o-keyframes show{
	0%{-o-transform:rotateX(-10deg) rotateY(0deg);}
	100%{-o-transform:rotateX(-10deg) rotateY(360deg);}
}
@-moz-keyframes show{
	0%{-moz-transform:rotateX(-10deg) rotateY(0deg);}
	100%{-moz-transform:rotateX(-10deg) rotateY(360deg);}
}
@-webkit-keyframes show{
	0%{ -webkit-transform:rotateX(-10deg) rotateY(0deg);}
	100%{ -webkit-transform:rotateX(-10deg) rotateY(360deg);}
}
@-ms-keyframes show{
	0%{ -ms-transform:rotateX(-10deg) rotateY(0deg);}
	100%{ -ms-transform:rotateX(-10deg) rotateY(360deg);}
}
.screen03 .app ul:hover{animation-play-state:paused;
						-moz-animation-play-state:paused;
						-ms-animation-play-state:paused;
						-o-animation-play-state:paused;
						-webkit-animation-play-state:paused;}
.screen03 .app ul li:hover{width: 200px;height: 390px;margin-top:-30px;}
.screen03.start .app ul{margin-top:800px;opacity:0;}


/* icon */
.icon{width: 900px;height: 500px;margin-left: -350px;margin-top: -220px;z-index: 4;position: relative;overflow: hidden;}
.icon ul{margin:50px auto;width:800px;height: auto;position: absolute;left: 0;top: -400px;opacity: 0;}
.icon ul li{width: 180px;height: 180px;float: left;margin:10px;border-radius:10px;}
.icon ul li a{width: 180px;height: 180px;display: block;}
.icon ul li:hover{transform:translateY(-20px);}


/* banner */
.screen03 .banner{width:750px;height:auto;background:#000;margin-left: -320px;margin-top: -130px;z-index: 4;overflow: hidden;transform:scale(0.2);opacity: 0;}
.banner ul{width: 800%;animation:autoplay 60s linear infinite;}
@keyframes autoplay{
	from{transform:translateX(0);}
	to{transform:translateX(-6000px);}
}
@-o-keyframes autoplay{
	from{transform:translateX(0);}
	to{transform:translateX(-6000px);}
}
@-webkit-keyframes autoplay{
	from{transform:translateX(0);}
	to{transform:translateX(-6000px);}
}
@-moz-keyframes autoplay{
	from{transform:translateX(0);}
	to{transform:translateX(-6000px);}
}
@-ms-keyframes autoplay{
	from{transform:translateX(0);}
	to{transform:translateX(-6000px);}
}
.banner li{float: left;width: 12.5%;height: auto;}
.banner li img{width: 100%;display: block;}


/* web */
.screen03 .web{width: 900px;height: 500px;margin-left: -350px;margin-top: -220px;z-index: 4;overflow: hidden;opacity: 0;}
.screen03 .web ul{overflow: hidden;}
.screen03 .web ul li{width: 180px;height: 180px;float: left;background: red;margin: 20px;border-radius:8px;border: 1px solid #fff;position: relative;overflow: hidden;}
.screen03 .web ul li::after{content:"鐐瑰嚮娴忚";width: 180px;height: 30px;background: rgba(0,0,0,0.4);text-align: center;position: absolute;left: 0;bottom:-30px;color: #fff;transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;-webkit-transition:all 0.5s;}
.screen03 .web ul li a{width: 180px;height: 180px;display: block;}
.screen03 .web li:nth-of-type(1){background: url(../images/zhuowang.png) no-repeat 0 0;}
.screen03 .web li:nth-of-type(2){background:url(../images/hesheng.png) no-repeat 0 0;}
.screen03 .web li:nth-of-type(3){background:url(../images/zhengquan.jpg) no-repeat 0 0;}
.screen03 .web li:nth-of-type(4){background:url(../images/kaidaer.png) no-repeat 0 0;}
.screen03 .web li:nth-of-type(5){background:url(../images/zhongliang.png) no-repeat 0 0;}
.screen03 .web li:nth-of-type(6){background:url(../images/dang.png) no-repeat 0 0;}
.screen03 .web li:nth-of-type(7){background:url(../images/guomei.jpg) no-repeat 0 0;}
.screen03 .web li:nth-of-type(8){background:url(../images/10kuai.png) no-repeat 0 0;}
.screen03 .web ul li:hover::after{bottom:0;}










/* screen04 */

.screen04>*{transition:all 2s;position: absolute;left: 50%;top: 50%;}
.screen04 .box{width: 100%;height: 100%;background:rgba(0,0,0,0.7);left: 0;top: 0;}
.screen04 header{top: 20px;color: #fff;font-size: 48px;margin-left:-97px;border-top:3px solid #fff;border-bottom:3px solid #fff;}
.screen04 .txt{color: #fff;font-size:20px;line-height: 50px;top: 30%;left: 56%;height:auto;width: 30%;}
.screen04 .txt li{padding-left:60px;}
.screen04 .txt li:nth-of-type(1){background:url(../images/QQ.png) no-repeat left center;
background-size:40px;}
.screen04 .txt li:nth-of-type(2){background:url(../images/phone.png) no-repeat left center;background-size:40px;}
.screen04 .txt li:nth-of-type(3){background:url(../images/dizhi.png) no-repeat left center;background-size:40px;}
.screen04 .txt li:nth-of-type(4){background:url(../images/email.png) no-repeat left center;background-size:40px;}
.screen04 .txt li:nth-of-type(5){background:url(../images/sina.png) no-repeat left center;background-size:40px;}
.screen04 article{left: 25%;top: 30%;width: 17%;height:auto;color: #fff;font-size:20px;line-height: 50px;}
.screen04.start .txt{left: 100%;}
.screen04.start header{transform:translateY(100px) rotate(360deg) scale(10);}
.screen04.start article{transform:translateX(-500px);}








